[Unit]
Description=Debian Offline Upgrade
DefaultDependencies=no
ConditionPathExists=/system-update
After=local-fs.target plymouth-start.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/debian-upgrade/offline-upgrade.sh
TimeoutStartSec=infinity
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=system-update.target
